LibriMix/LibriMix
LibriMix/LibriMix/*
LibriMix/LibriSpeech
LibriMix/wham_noise
LibriMix/LibriSpeech/*
LibriMix/wham_noise/*
._*
ss-env
ss-env/*
__*
*.zip
CMGAN/AudioSamples/
.DS*
**/__pycache__
**/__
CMGAN/src/pretrained_models/
*.ipynb